<p id="notice"><%= notice %></p>

<h1>Outfits</h1>

<table class="table table-header-rotated">
  <thead>
    <tr>
      <th></th>
      <%- @clothing_items.each do |item| %>
        <th class="rotate">
          <div><span><%= item.name %></span></div>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <th class="row-header"><%= outfit.worn_on.strftime("%b %e, %Y") %></th>
        <%- @clothing_items.each do |item| %>
          <%- if outfit.clothing_items.include?(item) %>
            <td>X</td>
          <%- else %>
            <td></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', outfit %></td>
        <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
        <td><%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outfit', new_outfit_path %>
